/* General color */
$color-white: #ffffff;
$color-black: #000000;

/*Brand color*/
$color-brand-blue: #6ccee6;

/*Dark Grey color - Primary title color*/
$color-darkgrey: #333333;
$color-darkgrey2: #333333;

/*Mid Grey color - Secondary subtitle color*/
$color-grey: #858585;
$color-grey1: #f6f9fc;
$color-grey2: #6b7c93;

/*light Grey color*/
$color-lightgrey: #e6eaf0;
$color-lightgrey2: #f7f7f7;
$color-lightgrey3: #727272;
$color-lightgrey4: #fafafa;